%h2
  Repositories
%table.repo
  %tr
    %th.repo
      Project Name 
    %th.repo
      URL
    %th.repo
      Description
    %th.repo
      Last updated (UTC)
    %th.repo
      Delete
  - locals[:projects].each_with_index do |rep, index|
    - url = rep.url
    %tr{:class => "data#{index % 2}"}
      %td.repo
        = rep.project
      %td.repo
        %a{:href => url}
          = url
      %td.repo
        = rep.safe_description
      %td.repo
        = rep.updated
      %td.repo
        %form{:action => "/user/moderation", :method=>"POST"}
          %input{:type => "hidden", :name => "user", :value => rep.user}
          %input{:type => "hidden", :name => "project", :value => rep.project}
          %input{:type => "submit", :name => "delete", :value => "Delete"}

