!!! XML
!!! Strict 
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    = haml :style
    %title
      selfmodifier.org -
      = locals[:title]
  %body
    = haml :navigation
    .content.hard_centered
      %p
        = locals[:message]
      %div
        = haml :login_form
