%table.repository
  %tr
    %th
      Project Name 
    %th
      URL
    %th
      Description
    %th
      Last updated (UTC)
  - locals[:projects].each_with_index do |rep, index|
    - url = rep.url
    %tr{:class => "data#{index % 2}"}
      %td
        = rep.project
      %td
        %a{:href => url}
          = url
      %td
        = rep.safe_description
      %td
        = rep.updated
