!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %script{:src => "/js/jquery-1.4.4.min.js", :type => "text/javascript"}
    %script{:src => "/js/repository.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      $(document).ready(function (){create_url_form();});
    = haml :style
    %title
      selfmodifier.org -
      = locals[:title]
  %body
    = haml :navigation
    .content.hard_centered
      %p 
        = locals[:message]
      = haml :repository_form, :locals => {:username => locals[:username], :repository => locals[:repository]}
