!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    = haml :style
    %title
      selfmodifier.org -
      = locals[:title]
  %body
    = haml :navigation
    .content
      %p 
        = locals[:message]
      %p
        = haml :repository_form, :locals => {:username => locals[:username], :repository => locals[:repository]}
